<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Step 2 Pose Analysis Feedback</title>
    <link rel="stylesheet" type="text/css" href="static\\style.css">
</head>
<body style="background-color: rgba(221,198,198,0.37); background-repeat: no-repeat; background-size: cover; background-position: center;">
  <div class="container">
    <h1>Pose Analysis Results</h1>

    <div class="feedback-wrapper">
      {% if feedback1 and feedback2 and feedback3  %}
        <p class="feedback {{ feedback_type }}">{{ feedback1 }}</p>
        <p class="feedback {{ feedback_type }}">{{ feedback2 }}</p>
        <p class="feedback {{ feedback_type }}">{{ feedback3 }}</p>
      {% else %}
        <p class="no-feedback">No feedback available yet. Upload an image to get started.</p>
      {% endif %}

        {% if processed_image %}
      <div class="image-wrapper">
        <img src="data:image/png;base64,{{ processed_image }}" alt="Processed Image">
      </div>
    {% endif %}

    </div>
  </div>
</body>
</html>
